#sticky__container {
    background: linear-gradient(135deg, rgb(98, 186, 81), rgb(4, 148, 164));
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.header {
    margin-left: 5rem;
    font-size: 18px;
    font-weight: 500;
}
.MuiInputBase-root {
    color : #fff !important;
}
.loading {
    margin-top: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}
#loading__icon {
    margin-left: 30px;
}
